.calculator_master_ctn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  ;
}

.calculator_ctn {
  width: fit-content;
  height: fit-content;
  padding: 1em;

  background-color: white;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 0.25em;
}

.calculator_ctn__display_ctn {

  width: 100%;
  background-color: hsl(185, 41%, 84%) ;
  padding: 1em;
  margin-bottom: 1em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.calculator_ctn__buttons_ctn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}